/*******************************************************************************

    For copyright / license terms, see COPYRIGHT.rst (top level of repository)
    Repository: https://github.com/C3S/portal_web

*******************************************************************************/


/*******************************************************************************

    Extra small devices (phones, less than 768px)

*******************************************************************************/

@font-face { font-family: "Signika"; src: local("Signika-Light"), url("static/portal/font/Signika-Light.ttf") format("sans-serif"); }

body { font-family: "Signika", "Arial"; }

h1, .h1 { font-family: "Signika", "Arial"; }
h2, .h2 { font-family: "Signika", "Arial"; }
h3, .h3 { font-family: "Signika", "Arial"; }
h4, .h4 { font-family: "Signika", "Arial"; }
h5, .h5 { font-family: "Signika", "Arial"; }
h6, .h6 { font-family: "Signika", "Arial"; }

.block { display:block; }
.fixed { position:fixed; }
.pull-bottom { position: absolute; bottom:0; }
.clear { clear:both; }
.prewrap { white-space:pre-wrap; }
.nowrap { white-space:nowrap; }
.fullwidth { width:100%; }
.minwidth { width:1%; }

/* collapsable panels 
 * cf. http://stackoverflow.com/questions/18325779/bootstrap-3-collapse-show-state-with-chevron-icon/18568997#18568997 */
.panel-collapsed .panel-heading a:after { font-family:'Glyphicons Halflings'; content:"\e114"; float:right; color:#666; }
.panel-collapsed .panel-heading .collapsed:after { content:"\e080"; }

/* labels as badges for contextual backgrounds
 * cf. http://stackoverflow.com/a/26495054 */
.label-as-badge { border-radius: 1em; font-size: 12px; padding: 3px 7px; }
.list-group-item > .label-as-badge { float: right; }
.list-group-item > .label-as-badge + .label-as-badge { margin-right: 5px; }

.panel-default .panel-body .list-group { margin:0; }

.table tr:first-child td,
.table tr:first-child th { border-top:none; }
.cs-table-iconcolumn { width:30px; }
.cs-table-codecolumn { width:60px; }
.cs-symbolnavbar a { margin-right:10px; }


/*******************************************************************************

   Small devices (tablets, 768px and up)

*******************************************************************************/

@media (min-width: 768px) {

    /* vertical navbar
     * cf. http://www.jonathanbriehl.com/2014/01/17/vertical-menu-for-bootstrap-3 */
    .navbar-stacked .navbar-collapse { padding: 0; max-height: none; }
    .navbar-stacked ul { float: none; }
    .navbar-stacked ul:not { display: block; }
    .navbar-stacked li { float: none; display: block; }
    .navbar-stacked li a { padding-top: 12px; padding-bottom: 12px; }

}


/*******************************************************************************

   Medium devices (desktops, 992px and up)

*******************************************************************************/

@media (min-width: 992px) {

    /* fixed columns */
    .fixed-col-3 { position:fixed; width:205px; }
    .fixed-responsive { min-height:100%; height:100%; }

    /* equal height of columns 
     * cf. http://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height */
    .equal, .equal > div { display: -webkit-box; display: -webkit-flex; display: flex; flex:1 0 auto; }
    
}


/*******************************************************************************

   Large devices (large desktops, 1200px and up)

*******************************************************************************/

@media (min-width: 1200px) {

    /* fixed columns */
    .fixed-col-3 { width:255px; }
    
}